@import '../../assets/scss/variable.scss';
.footer {
    height: 20%;
    min-height: 20%;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background:darken($bg-color, 10%);
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    .label {
        font-size: 22px;
        color: $header-color;
    }
    .title {
        line-height: 1;
        padding: 0;
        margin: 0;
        text-transform: none;
    }
}